<table>
    <thead>
        <tr>
            <th>Orders</th>
            <th>Customer</th>
            <th>Mobile</th>
            <th>status</th>
            <th>Set Time</th>
            <th>Placed at</th>
        </tr>
    </thead>
    <tbody id="orderTableBody">
    </tbody>
</table>